* {
padding:0;
margin:0;
}
body {
font: small "ו", serif;
padding:10px;
text-align:center;
color:#000;
background:#fff;
}
h1,
h2,
h3,
h4 {
line-height:2em;
font-size:1.2em;
color:#030;
text-align:center;
border-bottom:1px dotted #999;
margin-bottom:5px;
clear:both;
}
h3,
h4,
h5,
h6 {
font-size:1em;
line-height:2em;
}
h2 {
background: #eee;
}
h5 {
clear:both;
}
p {
margin:5px;
padding:0 10px;
}
div {
clear:both;
margin:0 auto 10px;
width:400px;
line-height:2em;
text-align:left;
border:1px solid #060;
}

.gotoIndex {
margin-top:30px;
border:none;
width:auto;
background:#ccc;
font-size:12px;
text-align:center;
padding:4px;
clear:both;
}
